body{
    /* background-color: green; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.imge{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.image_size{
    width: 400px;
    height: 400px;
    padding: 20px;
}

.image_size1{
    width: 400px;
    height: 500px;
}

#row1, #row3 , #row2, #row4{
    display: flex;
    flex-direction: row;
    margin: auto;
    
}
#btn, #btn1, #btn2, #btn3{
    margin-left: 20px;
    height: 20px;
    text-align: center;
    margin-top: 15px;
    background-color: rgb(255, 79, 79);
    color: white;
    border: none;
    border-radius: 3px;
}

 .h1 {
   display: flex;
   margin: auto;
   padding: 10px;
   align-items: center;
}

h1{
    padding: 10px;
    align-self: center;
    margin-left: 30px;
}

#increase{
    background-color: rgb(20, 180, 255);
    border: none;
    border-radius: 3px;
    outline: none;
    height: 20px;
}


#decrease{
    background-color: rgb(255, 79, 79);
    border: none;
    border-radius: 3px;
    outline: none;
    height: 20px;
}

.design{
    height: 20px;
    padding: 3px;
    margin: 5px;
   border: gray 1px solid;
   border-radius: 3px;
   outline: none;
    
}

#newpage{
    display: none;
}
.newForm{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 100px;
  
}
.fName{
  
    width: 300px;
    height: 25px;
   padding: 5px;
   margin: 20px 20px 20px 0px;
   outline: none;
   border-radius: 5px ;
   border: 1px solid rgb(179, 158, 44);
   
}


label{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 30px;
    
}

.lab1{
    position: absolute;
    margin-top: -10px;
}


.lab2{
    position: absolute;
    margin-top: -10px;
}

.lab{
    position: absolute;
    margin-top: -20px;
}
.sub{
    width: 70px;
    height: 30px;
}
#table{
    display: block;
    border: 1px solid gold;
  align-content: center;
  width:600px;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 50px;
  height: 300px;
}


tr {
  
    font-size: 16px;
    
}
th {
    
    
    padding: 5px;
    margin: -4px;
    
}
thead {
    background-color: gainsboro;
    
}

@media only screen and (max-width: 768px){
    .fName{
  display: block;
  padding: 5px;
  margin: 20px 20px 20px 0px;
  outline: none;
  border-radius: 5px ;
  border: 1px solid gold;
    }
  

    label{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 30px;
        
    }
    
    .lab1{
      
        margin-top: -23px;
    }
    
    
    .lab2{
       
        margin-top: -23px;
    }
    
    .lab{
       
        margin-top: -23px;
    }

}

.sub1{
    width: 80px;
    height: 35px;
    margin-left: -19px;
    border: 1px solid gold;
    outline: none;
    cursor: pointer;

}

#H1{
    margin: 0;
    text-transform: capitalize;

}
.images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
}

.img{
    width: 300px;
    height: 280px;
    margin-top: 5px;
}


#imgemodal{
    width: 500px;
    height: 300px;
    /* margin: auto; */
    position: absolute;
    display: none;
    background-color: white;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 3px 5px 3px rgb(224, 142, 142)
}

.imgstyle{
    width: 500px;
    height: 300px;  
    position: absolute;
    display: block;
   
}

#p {
    display: block;
    position: absolute;
    margin-left: 470px;
    margin-top: 7px;
    color: rgb(17, 2, 2);
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}
#p:hover{
    background-color: indianred;
    border: none;
    color: white;
}

